.rating-control {
  display: flex;
  align-items: center;

  color: #959596;

  .suffix,
  .prefix {
    font-weight: normal;
    font-size: 13.5px;
    line-height: 16px;
    letter-spacing: -0.02em;
  }

  .prefix {
    margin-right: 8.5px;
  }

  .suffix {
    margin-left: 8.5px;
  }

  &-item {
    width: 47px;
    height: 47px;

    margin: 0 5px;

    font-weight: 300;
    font-size: 24px;
    line-height: 30px;

    border: 1.5px solid #cccccc;
    box-sizing: border-box;
    border-radius: 100px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &.selected {
      color: white;
      border: none;
    }

    &:hover {
      border-width: 2px;
    }
  }

  @media only screen and (max-width: 767px) {
    .prefix {
      margin-right: 7px;
    }

    .suffix {
      margin-left: 7px;
    }

    &-item {
      width: 38px;
      height: 38px;
      font-size: 19px;
      margin: 0 4px;
    }
  }

  @media only screen and (max-width: 424px) {
    &-item {
      width: 28px;
      height: 28px;
      font-size: 16px;
      margin: 0 3px;
    }
  }
}
