.btn-save {
  border: 1px solid #353a4b;
  box-sizing: border-box;
  border-radius: 12px;

  width: 157px;
  height: 51px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.02em;

  color: #353a4b;
  cursor: pointer;

  background: none;

  &:focus {
    outline: none;
  }
}
