.list-items {
  display: flex;
  align-items: center;

  margin-right: 20px;
  overflow-y: auto;
  padding-bottom: 10px;

  .list-item {
    background: rgba(252, 251, 252, 0.8);
    backdrop-filter: blur(5px);

    border-radius: 20px;
    margin-right: 16px;

    padding: 13.5px 20px;
    min-width: 174px;
    height: 96px;

    .rating {
      background: #ffffff;
      border-radius: 30px;
      border: 2px solid white;

      width: 19px;
      height: 19px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &.zero {
        background: transparent;
        color: rgba(252, 251, 252, 0.8);
      }
    }

    h5 {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.02em;

      color: #333333;

      margin: 11px 0px 8.5px;
    }

    p {
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
      margin: 0;

      color: #666666;

      max-height: 30px;
      display: -webkit-box;
      overflow: hidden;
      /*! autoprefixer: off */
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}
