.btn-save {
  border: 1px solid #353a4b;
  box-sizing: border-box;
  border-radius: 10px;

  width: 132px;
  height: 43px;

  font-style: normal;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.02em;

  color: #353a4b;
  cursor: pointer;

  background: none;

  &.hide {
    display: none;
  }

  &:focus {
    outline: none;
  }
}
